<p id="notice"><%= notice %></p>

<div class="search-container">
  <%= form_tag(games_search_path, remote: true) do %>

  <div class="field">
    <%= label_tag :genre, 'Genre: '%>

    <%= select_tag :genre, options_from_collection_for_select(
      @genres.to_a.unshift(Genre.new(id: 0, name: 'All')),
      'name',
      'name',
      '0') %>

      <%= label_tag :order, 'Game Order' %>
      <%= select_tag :order, options_for_select([
        'A-Z',
        'Z-A',
        'Highest Rating First',
        'Lowest Rating First',
        'Newest First',
        'Oldest First'
        ]), {include_blank: 'Order'} %>
      <%= submit_tag 'Search' %>
    </div>
  <% end %>
</div>

<div id="genres">
  <%= render 'games/genres' %>
</div>

<%= link_to 'New Game', new_game_path %>







<!-- <% @genres.each do |genre| %>
  <h1><%= genre.name %></h1>
  <% genre.games.each do |game| %>
    <p>
      <%= link_to image_tag(game.thumbnail, width: 250, height: 350), game %>
    </p>
  <% end %>
<% end %> -->
